{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>FALE CONOSCO</title>
</head>
<body>
    <div class="container">
        <h1>Fale Conosco:</h1>
        {% bootstrap messages %}

        <form action="{% url 'faleconsoco' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
            {% endbuttons %}
        </form>
    </div>
    {% bootstrap_javascript %}
</body>
</html>


